In [2]:
import pandas as pd
import numpy as np

In [6]:
### open co2.csv file and get header from 55th row of the file and get data from 58th row of the file
df = pd.read_csv('co2.csv', header=1, skiprows=53)
# df = pd.read_csv('co2.csv', skiprows=56)
# df.head()

### delete first and second row of the dataframes
df = df.iloc[2:]

### reset index of the dataframe to get rid of old index
df = df.reset_index(drop=True)
df.head()

,Yr,Mn,Date,Date,CO2,seasonally,fit,seasonally,CO2,seasonally
0,1958,01,21200,1958.0411,-99.99,-99.99,-99.99,-99.99,-99.99,-99.99
1,1958,02,21231,1958.1260,-99.99,-99.99,-99.99,-99.99,-99.99,-99.99
2,1958,03,21259,1958.2027,315.70,314.43,316.19,314.90,315.70,314.43
3,1958,04,21290,1958.2877,317.45,315.16,317.30,314.98,317.45,315.16
4,1958,05,21320,1958.3699,317.51,314.71,317.86,315.06,317.51,314.71